@import 'colori';

.btn1{
    background-color: $buttonColorBlue;
}

.btn2{
    background-color: $buttonColorOrange;
}

.btn3{
    background-color: $buttonColorGreen;
}

#headline button{
    transition: transform color 2s linear;
    border: none;
    &:hover{
        transform: scale(1.3);
        color: white;
    }
}