@mixin floating($border){
    box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.5);
    @if($border){
        border: 1px solid white;
        border-radius: 2em;
    }
    @else{
        border: none;
    }
}

@mixin grid($column){
    display: flex;
    flex-wrap: wrap;
    
    .card{
        flex-basis: 90%/$column ;
    }
}

